<html>
<style>
    body{
    font-size: 15pt;
    font-family: arial;
    }
</style>


<body>
<h1>Hearthstone</h1>
<div>{{data}}</div>

<div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
</div>

<!-- http://www.w3schools.com/howto/howto_css_login_form.asp -->
<form method="POST" action="/login">
    <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
    </div>
</form>

</body>


</html>
