<html>
<style>
    body{
    font-size: 15pt;
    font-family: arial;
    }
</style>


<body>
<h1>Choose Cards</h1>

<form method="POST" action="/createdeck">
  <div>
      <div class="container">
          <label><b>Deck Name</b></label>
          <input type="text" placeholder="Name" name="DeckName" required>
      </div>
      <div class="container">
          <label><b>Class</b></label>
          <input type="text" placeholder="Name" name="ClassName" required>
      </div>
      </br>
      {% for n in cards%}
      <div>{{n[8]}}</div>
      <div>Mana Cost: {{n[17]}}</div>
      {% if n[11] == True %}
      <div>Attack: {{n[9]}}</div>
      <div>Health: {{n[10]}}</div>
      {% endif %}
      {% if n[12] != '' %}
      <div>Description: {{n[12]}}</div>
      {% endif %}
      {% if n[19] != '' %}
      <div>Creature: {{n[19]}}</div>
      {% endif %}
      <div>Class: {{n[20]}}</div>
      <div class="container">
          <label><b># to add</b></label>
          <input type="text" placeholder="Number" name={{n[7]}} >
      </div>
      </br>
      {% endfor %}
  </div>
  <button type="submit">Create Deck</button>
</form>

</body>


</html>
